<mat-list>
  <mat-list-item>
    <div routerLink="/items" routerLinkActive="active" class="menu-item">
      <mat-icon class="menu-icon">list</mat-icon>
      {{ 'MENU.ITEMS' | translate }}
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <div routerLink="/customers" routerLinkActive="active" class="menu-item">
      <mat-icon class="menu-icon">directions_bus</mat-icon>
      {{ 'MENU.CUSTOMERS' | translate }}
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <div routerLink="/settings" routerLinkActive="active" class="menu-item">
      <mat-icon class="menu-icon">settings</mat-icon>
      {{ 'MENU.SETTINGS' | translate }}
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
