<app-loading-data [isShow]="isLoading"></app-loading-data>
<mat-card class="settings-card">
    <form class="example-container" [formGroup]="settingsFromGroup" >
    <table class="example-full-width" cellspacing="0"><tr>
        <td>
            <h3>{{ 'PAGES.SETTINGS.SETTINGS' | translate }}</h3>
        </td>
    </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill" class="settings-card_form-field">
                    <mat-label>{{ 'PAGES.SETTINGS.LANGUAGES' | translate }}</mat-label>
                    <mat-select  [formControl]="languagesControl">
                        <mat-option *ngFor="let languagesOption of languagesOptions"
                                    [value]="languagesOption.short">
                            {{languagesOption.name}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">{{ 'PAGES.SETTINGS.CHOOSE_LANGUAGES_HERE' | translate }}</mat-hint>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill" class="settings-card_form-field">
                    <mat-label>{{ 'PAGES.SETTINGS.ARTICLE_NUMBER' | translate }}</mat-label>
                    <input matInput [formControl]="articleNumberControl">
                    <mat-hint align="end">{{ 'PAGES.SETTINGS.ARTICLE_NUMBER_DESCRIPTION' | translate }}</mat-hint>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="fill" class="settings-card_form-field">
                    <mat-label>{{ 'PAGES.SETTINGS.ARTICLE_PREFIX' | translate }}</mat-label>
                    <input matInput [formControl]="articlePrefixControl">
                    <mat-hint align="end">{{ 'PAGES.SETTINGS.ARTICLE_PREFIX_DESCRIPTION' | translate }}</mat-hint>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <button mat-raised-button (click)="saveSettingsAction()"  color="primary" class="settings-card_form-field">
                    {{ 'PAGES.SETTINGS.SAVE' | translate }}
                </button>
            </td>
        </tr>
    </table>
    </form>
</mat-card>
<mat-card  class="settings_card">
    <h3>{{ 'PAGES.SETTINGS.IMPORT_EXPORT' | translate }}</h3>
    <button mat-raised-button color="primary" (click)="importDataFromSite()"  class="settings-card_form-field">
        {{ 'PAGES.SETTINGS.IMPORT_DATA_FROM_SITE' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="exportDataTo1C()"  class="settings-card_form-field">
        {{ 'PAGES.SETTINGS.EXPORT_DATA_TO_1C' | translate }}
    </button>
</mat-card>



