<app-loading-data [isShow]="isLoading"></app-loading-data>
<form class="example-container" [formGroup]="settingsFromGroup" >
  <mat-form-field appearance="fill">
    <mat-label>{{ 'PAGES.SETTINGS.LANGUAGES' | translate }}</mat-label>
    <mat-select  [formControl]="languagesControl">
      <mat-option *ngFor="let languagesOption of languagesOptions"
                  [value]="languagesOption.short">
        {{languagesOption.name}}
      </mat-option>
    </mat-select>
    <mat-hint align="end">{{ 'PAGES.SETTINGS.CHOOSE_LANGUAGES_HERE' | translate }}</mat-hint>
  </mat-form-field>

</form>
<button mat-raised-button (click)="importDataFromSite()">
  {{ 'PAGES.SETTINGS.IMPORT_DATA_FROM_SITE' | translate }}
</button>
<button mat-raised-button (click)="exportDataTo1C()">
  {{ 'PAGES.SETTINGS.EXPORT_DATA_TO_1C' | translate }}
</button>


