<div *ngIf="isShow">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<!--<div *ngIf="isShow" [ngClass]="{'backdrop loader-fill': fill}" [style.minHeight]="getMinHeight()"></div>
<div class="loading-data {{customClass}}" [style.minHeight]="getMinHeight()" [ngClass]="{'loader-fill': fill}" *ngIf="isShow">
  <div class="table-layout">
    <div class="loader">
      <div class="loader-circle" [ngClass]="'loader-circle-' + size"></div>
      <div class="loader-message">{{message | translate}}</div>
    </div>
  </div>
</div>-->
