<mat-card>
  <form class="example-container" [formGroup]="itemFormGroup" >
    <table class="example-full-width" cellspacing="0"><tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Barcode</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
    </tr>
      <tr>
        <td>
          <button mat-raised-button color="primary">Save</button>
        </td>
        <td>
          <button mat-raised-button color="accent">Cancel</button>
        </td>
      </tr>
    </table>


<!--    <mat-form-field appearance="fill">

    </mat-form-field>-->
  </form>
</mat-card>


